<%= form_with(model: customer, local: true) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'First Name:' %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label 'Last Name:' %>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label 'Address:' %>
    <%= f.text_field :address %>
  </div>
  <div class="form-group">
    <%= f.label 'Email:' %>
    <%= f.text_field :email %>
  </div>
  <div class="forn-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%#= link_to 'Back', customers_path %>
  </div>
<% end %>
