<%= form_with(model: restaurant, local: true) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Restaurant:' %>
    <%= f.text_field :name %>
    <%= f.label 'Contact Name:' %>
    <%= f.text_field :contact_name %>
    <%= f.label 'Contact Phone:' %>
    <%= f.text_field :contact_phone %>
    <%= f.label 'Email:' %>
    <%= f.text_field :email %>
    <%= f.label 'Address:' %>
    <%= f.text_field :address %>
    <%= f.label 'Open At:' %>
    <%= f.text_field :open_at %>
    <%= f.label 'Close At:' %>
    <%= f.text_field :close_at %>
    <%= f.label 'Days of Week:' %>
    <%= f.text_field :days_of_the_week %>
  </div>


  <div class="forn-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
