<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= restaurant.name %></h3>
            <p><%= restaurant.address %></p>
            <p> <%= link_to 'Dishes', restaurant_dishes_path(restaurant) %> </p>
            <p><%= link_to 'Show', restaurant %></p>
          </div>
        </div>
      </div>
    <% end %>

<%= link_to 'New Restaurant', new_restaurant_path %>
